<header class="page-header">
  <nav>
      <div class="nav-wrapper">
        <div class="logo">
            <a routerLink="/" class="brand-logo">LElectronics</a>
        </div>
        <ul id="nav-mobile" class="sections hide-on-med-and-down">
            <li><a routerLink="/basic-electronics">Основы электроники</a></li>
            <li><a routerLink="/digital-electronics">Цифровая электроника</a></li>
            <li><a routerLink="/microcontroller-programming">Программмирование микроконтроллеров</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a routerLink="/login">Вход</a></li>
              <li><a routerLink="/registration">Регистрация</a></li>
          </ul>
      </div>
  </nav>
</header>
