<div class="content">
  <div class="row">
    <div class="col s12 l6">
      <img src="https://cs7.pikabu.ru/post_img/big/2017/12/17/7/151350779611205459.jpg" alt="" width="350">
    </div>
    <div class="col s12 l6">
      <h2 class="title">Lorem ipsum dolor sit.</h2>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed perferendis eius recusandae optio consectetur neque, aut quaerat labore porro dignissimos magnam totam sequi voluptas quod obcaecati impedit repudiandae, commodi doloribus enim dolore error, itaque officia voluptatum deleniti. Voluptates quos, nihil aut dolorem nam distinctio laudantium error totam.</p>
      <a href="#">Перейти</a>
    </div>
  </div>
</div>
